{
  "app": {
    "guid": "583e06e4-3a3c-43d8-9494-b4b1b276942c",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cts2546",
    "artifactId": "io.cronapp.apps.cts2546"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "NTgzZTA2ZTQtM2EzYy00M2Q4LTk0OTQtYjRiMWIyNzY5NDJj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cts2546",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": false,
  "timeZone": "America/Sao_Paulo",
  "timeZoneOffset": -180,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}